* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* .loading  {
  position: absolute;
  z-index: 150;
  width: 100vw;
  background-color: #67aaf6 ;
  height: 100vh;
} */

/* HTML: <div class="loader"></div> */
.loader {
  width: 100vw;
  z-index: 999;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: absolute;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #01a9f4;
  filter: blur(10) contrast(20) hue-rotate(30deg);
  
  /* mix-blend-mode: darken; */
}
.loader:before,
.loader:after{ 
  
  content: "";
  grid-area: 1/1; 
  border-radius: 8px;
  width: 55px;
  height: 55px;
  background: #fff;
  animation: l7 2s infinite;
  
}
.loader:after{ 
  animation-delay: -1s;
  
}
@keyframes l7{
  0%   {transform: translate(   0,0)}
  25%  {transform: translate(100%,0)}
  50%  {transform: translate(100%,100%)}
  75%  {transform: translate(   0,100%)}
  100% {transform: translate(   0,0)}
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
} 
/* .loader {
  background: #67aaf6 url(/Assets/loader2.gif) no-repeat center center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99;
  transform: scale(1.5);
  transition: opacity 2s, visibility 1s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
} */

.icons {
  position: absolute;
  right: 0;
  font-size: 2.8rem;
  color: black;
  cursor: pointer;
  display: none;
}

.sidebar li a:hover {
  color: white;
  align-items: center;
  justify-content: center;
  background-color: #01a9f4;
  border-radius: 20px;
}

.sidebar li a {
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 15px;
  padding: 10px 22px;
  transition: ease-in-out 0.4s;
}

.sidebar li {
  list-style: none;
  margin: 16px 20px;
}

.sidebar {
  backdrop-filter: blur(10px);
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  transition: ease-in-out 0.9s;
}

.sidebar.active {
  opacity: 1;
  display: block;
  top: 86px;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.bejir {
  position: relative;
  height: 100vh;
  padding-bottom: 90px;
}

.navbar ul li .btn a {
  color: white;
}

.navbar ul li .btn:hover a {
  background-color: #4d69ff;
}

.btn {
  background-color: #01a9f4;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-top: -11px;
  color: white;
}
.btn2 {
  background-color: #10a3e7;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 10px;
  width: 150px;
  border-radius: 20px;
  box-shadow: 3px 3px 9px #099fe4;
  cursor: pointer;
  text-align: center;
  color: white;
}

.wave {
  /* position: relative; */
  background-color: white;
  margin-bottom: -4px;
}

.main {
  position: relative;
  height: 100vh;
}

.navbar.scroll {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  position: fixed;
  right: 0;
  left: 0;
  padding: 20px 50px;
  z-index: 9;
  height: 45px;
  /* width: 100%; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 20px 50px;
}

.navbar .logo {
  margin-left: 5px;
}

.navbar .logo img {
  width: 200px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin: 16px 20px;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 15px;
  padding: 10px 22px;
  transition: ease-in-out 0.4s;
}

.navbar ul li a:hover {
  color: white;
  align-items: center;
  justify-content: center;
  background-color: #01a9f4;
  border-radius: 20px;
}

.jumbotron {
  justify-content: space-around;
  flex-direction: row-reverse;
  overflow: hidden;
  display: flex;
  height: 100vh;
  padding: 20px 85px;
}

.jumbotron .kiri .aca:hover {
  background-color: white;
  border-radius: 20px 50px 30px;
  color: #01a9f4;
}

.jumbotron .kiri .aca {
  transition: ease-in-out 0.5s;
  background-color: #10a3e7;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  max-width: 100px;
  border-radius: 20px;
  box-shadow: 3px 3px 9px #099fe4;
  cursor: pointer;
  text-align: center;
  color: white;
  text-decoration: none;
}

.jumbotron .kanan img {
  width: 100%;
}

.jumbotron .kanan {
  padding: 20px;
  width: auto;
  transform: scale(1.1);
  filter: drop-shadow(1px 1px 10px #099fe4);
}

.jumbotron .kiri {
  font-family: "Montserrat", sans-serif;
  width: auto;
  margin: 150px 0 0 5px;
}
.jumbotron .kiri h1 {
  font-size: 37px;
  margin-bottom: 10px;
}

.jumbotron .kiri span#hi {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
}

.jumbotron .kiri p {
  max-width: 550px;
  margin-top: 5px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 450;
}

.circles {
  background-color: #f6f7fb;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #b3e5fc;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.main-about {
  /* overflow: hidden; */
  position: relative;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  /* height: 800px; */
  /* background-color: rebeccapurple; */
}

.main-about:hover h1 {
  transform: scale(1.1);
  letter-spacing: 10px;
}

.main-about h1 {
  margin: 20px auto 50px;
  transition: ease-in-out 0.5s;

  font-size: 47px;
}

.main-about h3 {
  font-weight: 600;
}

.main-about p .grey {
  color: #61636e;
}

.main-about p {
  line-height: 28px;
  margin: 15px 0;
  font-weight: 550;
  font-size: 16px;
  color: #858a97;
  letter-spacing: 1px;
}

.main-about .content-about .text {
  width: 90%;
  margin: auto;
  align-items: start;
  display: flex;
  flex-direction: column;
}

.main-about .content-about .main-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  color: white;
  margin: auto;
}

.main-about .content-about .main-card .card:nth-child(2) {
  background-color: #e91e63;
}

.main-about .content-about .main-card .card {
  width: 100%;
  border-radius: 15px;
  background-color: #4d69ff;
  padding: 25px;
  margin: 10px;
  transition: ease-in-out 0.5s;
}

.main-about .content-about .main-card .card:hover {
  box-shadow: 10px 10px 1px black;
}

.main-about .content-about .main-card .card p {
  margin: 0 0 0 10px;
  color: white;
}

.main-about .content-about .main-card .card .content-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-project {
  background-color: #01a9f4;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-project:hover h1 {
  transform: scale(1.1);
  letter-spacing: 10px;
}

.main-project h1 {
  transition: ease-in-out 0.5s;
  padding-top: 70px;
  margin-bottom: 60px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 48px;
}

.main-project .card-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  justify-content: center;
  /* background-color: rebeccapurple; */
  width: 90%;
  gap: 25px;
}

.main-project .card-project .card-img img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  transition: ease-in-out 0.5s;
}

.main-project .card-project .card-img {
  overflow: hidden;
  position: relative;
  background-color: white;
  border-radius: 15px 15px 0 0;
  margin-bottom: 10px;
}

.main-project .card-project:hover img {
  transform: scale(1.2);
  background-size: cover;
  rotate: -5deg;
}

.main-project .card-project:hover {
  background-color: #4d69ff;
  color: white;
}

.main-project .card-project:nth-child(4) {
  cursor: default;
}
.main-project .card-project:nth-child(5) {
  cursor: default;
}
.main-project .card-project:nth-child(6) {
  cursor: default;
}

.main-project .card-project {
  cursor: pointer;
  padding-bottom: 20px;
  transition: ease-in-out 0.5s;
  border-radius: 15px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.main-project .card-project .title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.main-project .card-project:nth-child(4) .btn {
  opacity: 70%;
}
.main-project .card-project:nth-child(5) .btn {
  opacity: 70%;
}
.main-project .card-project:nth-child(6) .btn {
  opacity: 70%;
}

.main-project .card-project .btn {
  background-color: #01a9f4;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.main-contact {
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 90px;
}

.main-contact:hover .contact {
  transform: scale(1);
  letter-spacing: 8px;
}

.main-contact .main_card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: center;
  /* background-color: rebeccapurple; */
  width: 90%;
  gap: 25px;
}

.main-contact h1 {
  transition: all 0.5s;
  font-size: 45px;
  margin: 50px 0;
}

.main-contact .main_card a {
  text-decoration: none;
}

.main-contact .main_card .card-contact {
  /* height: 225px; */
  border: 1px solid #01a9f4;
  padding: 45px;
  border-radius: 30px;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.main-contact .main_card .card-contact h1 {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.main-contact .main_card .card-contact p {
  color: #8a8fa3;
  font-weight: 500;
}

.main-contact .main_card .card-contact:hover svg,
.card-contact h1 {
  color: white;
  animation: bell-animation 650ms ease-out 0s 1 normal both;
}

@keyframes bell-animation {
  20% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
    scale: 1.1;
  }
  60% {
    transform: rotate(10deg);
    scale: 1.1;
  }
  80% {
    transform: rotate(-10deg);
  }
  0%,
  100% {
    transform: rotate(0deg);
  }
}

.main-contact .main_card .card-contact:hover h1 {
  color: white;
}

.main-contact .main_card .card-contact:hover p {
  color: #dddddd;
}

.main-contact .main_card .card-contact:hover {
  background-color: #01a9f4;
}

.main-contact .form {
  width: 90%;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.main-contact .form .right {
  width: 620px;
  height: 350px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  display: flex;
  background-color: #fff;
  box-shadow: 1px 2px 2px 3px rgb(239, 239, 239);
  border-radius: 15px;
}

.main-contact .form iframe {
  width: 100%;
  height: 100%;
  border: 5px outset #ff2323;
}

.main-contact .form .left {
  display: flex;
  padding: 10px;
  width: 620px;
  padding: 10px;

  overflow: hidden;
  transform: none;
  flex-direction: column;
}

.main-contact .form textarea {
  width: 95%;
  height: 150px;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 10px;
  font-weight: 500;
  border: 1px solid #ced4da;
  font-size: 17px;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.main-contact .form input {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: 1px solid #ced4da;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  width: 95%;
  min-height: 40px;
  color: black;
}

.input-warp {
  position: relative;
  width: auto;
  height: auto;
}

input:focus {
  border: none;
  box-shadow: 1px 1px 12px #099fe4;
  outline: 1px solid #099fe4;
}

textarea:focus {
  box-shadow: 1px 1px 12px #099fe4;

  outline: 1px solid #099fe4;
}

.footer {
  font-family: "Montserrat", sans-serif;
  z-index: 99;
  font-weight: 500;
  position: absolute;
  text-align: center;
  justify-content: center;
  width: 100vw;
  color: white;
  margin-top: 200px;
}

footer img {
  margin-bottom: -10px;
  height: 250px;
  width: 100vw;
}

.scroll-top {
  font-family: "Montserrat", sans-serif;
  z-index: 10;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border-radius: 1px solid #fff;
  transition: all 0.5s ease 0s;
  position: fixed;
  bottom: 30px;
  font-size: 13px;
  right: 20px;
  padding: 8px 12px;
}

.scroll-top:hover {
  transform: scale(1.1);
  background-color: #01a9f4;
}
/* Responsive */

@media screen and (max-width: 956px) {
  .jumbotron .kanan {
    /* background-color: rebeccapurple; */
    transform: scale(0.8);
  }

  .jumbotron .kiri {
    height: auto;

    margin-top: -50px;
    text-align: center;
  }

  .jumbotron {
    height: fit-content;
    align-items: center;
    padding: 20px 80px;
    flex-direction: column;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navMenu li .btn {
    display: none;
  }

  .navMenu li a {
    display: none;
  }
}

@media (max-width: 833px) {
  .main-about .content-about .main-card {
    flex-direction: column;
    display: flex;
  }

  .main-about .content-about .main-card .card {
    width: auto;
  }
}

@media screen and (max-width: 450px) {
  .main-about .text p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 25px;
  }

  .jumbotron .kanan {
    transform: scale(1);
  }

  .jumbotron {
    align-items: center;
    padding: 5px 20px 18px 20px;
    flex-direction: column;
    text-align: center;
  }

  .jumbotron .kiri h1 {
    font-size: 30px;
    text-align: center;
  }

  .jumbotron .kiri span#hi {
    text-align: center;
  }

  .jumbotron .kiri p {
    font-size: 15px;
    text-align: center;
  }

  .jumbotron .kiri {
    font-family: "Montserrat", sans-serif;
  }

  .navbar .navMenu {
    width: 20%;
  }

  .navbar .hamburger {
    margin-top: 7px;
  }
  .navbar {
    padding: 20px;
  }

  .main-project .card-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-content: center;
    /* background-color: rebeccapurple; */
    width: 90%;
    gap: 25px;
  }

  .main-contact .form .left {
    width: auto;
  }

  .main-contact .form .right {
    width: auto;
  }

  .main-contact .form {
    flex-direction: column;
  }

  .main-project h1 {
    font-size: 35px;
  }

  .main-project .card-project .btn {
    font-size: 15px;
    padding: 7px 20px;
  }

  footer .footer {
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .main-about .content-about .main-card .card .content-card p {
    font-size: 12px;
  }
}
